$bg-gray: #f3f4f6;
$bg-theme-color:#0b2bc9;
$bg-blue-gradient: linear-gradient(135deg, #0b2bc9 26%, #0acffe 100%);
$bg-blue-gradient-rotate: linear-gradient(170deg, #0b2bc9 12%, #0acffe 80%);
$bg-light-gray: #f9f9f9;
$blue: #0b2bc9;
$yellow: #ff9415;
$footer-text-color: #9e9e9e;
$red: #f93232;